<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMockMe.com - Admin</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
    <h2>UMockMe.com - Admin</h2>
</header>
<div id="featuresList" class="w3-container">
     <h3><a href="/">Home</a></h3>
    <br/>
    <ul class="w3-striped">
            <div class="w3-container">
                 <p></p>
                <p>To rebuild the database with fresh data, click the links below IN ORDER one at a time. </p>
                <li><a href="/DBNukeDB">1) This Blows Away the DB incase you want to rebuild from scratch and repopulate data</a></li>
                <li><a href="/DBRebuildDB">2) This Rebuilds the DB Schema</a></li>
                <li><a href="/DBRefreshColleges">3) Colleges</a></li>
                <li><a href="/DBRefreshNFLTeams">4) NFL Teams</a></li>
                <li><a href="/DBRefreshProspects">5) Prospects</a></li>
            </div>
    </ul>
</div>
</body>
</html>
