<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMockMe.com - Features Coming Soon</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
    <h2>UMockMe.com - Features Coming Soon</h2>
</header>
<div id="featuresList" class="w3-container">
     <h3><a href="/">Home</a></h3>
    <br/>
    <ul class="w3-striped">
        <li>Ability To Choose a Team and Make picks for them round by round</li>
        <li>Ability to Add Info on Player Injury Manually</li>
        <li>Ability to Add info on Player Character Issues Manually</li>
        <li>Ability to modify Team Needs for All Teams - Add Team Needs and Rank Team Needs</li>
        <li>implement oAuth</li>
        <li>Style and Format Improvements</li>
        <li>uMocMe Facebook Site</li>
        <li>uMockMe Social Marketing Campaign</li>
        <li>uMockMe Sales Integration - Amazon ? NFL.com ? </li>
        <li>Ability to Create a Big Board for your own team as opposed to relying on the Generic "UMockMe" Big Board</li>
        <li>Ability to personally Score Draft Prospects and have the score figured into UMockMe.com's Ranking Algorithm OR to have the score be the sole determination of player rank (override algorithm)</li>
        <li>Account for possibility of trades based on Pick Values and Team Needs\Desperation</li>
        <li>Account for Player Injury and Injury History in Draft Order - This is currently not accounted for</li>
        <li>Account for player deragatory\Character Issues in Draft Order - Arrests, Drug History, General Character Concerns, etc.</li>
        <li>Account for Player Team Meetings in Team Selections</li>
        <li>Account for School and Conference in Team Selections and Player rating</li>
        <li>Account for Team Historical Draft Tendencies in Team Selection (ie...favorite schools to recruit from, player sparq scores, prospect bio data per position)height, weight, hand size,etc.)</li>
        <li>Add "Projected Draft Position" for each Player....(ie....Round 2, pick 10, Pick #42 overall)</li>
        <li>Implement DB Refresh as a nightly service (cron job)</li>
        <li>Classify NFL teams Base Defense (3-4 vs 4-3) so we can determine if DE are handled like Linebacker or Defensive Lineman in Picking Logic</li>
    </ul>
</div>
</body>
</html>