<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="NFL Mock Draft, Emulater, Engine, Game, Mock Draft Site" />
    <meta name="description" content="This site emulates the NFL Draft using a sophisticated engine that predicts each pick in the draft. You can Make Picks for you own team or let the engine run the entire draft for you." />
    <meta name="robots" content="index,follow" />
    <title>UMockMe.com - NFL Mock Draft Site</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div>
    <header class="w3-container w3-teal ">
    <h1>Welcome to UMockMe.com......{%if usr%}{{usr[0][1]}}{%endif%}</h1>
    </header>
    <div class="w3-row">
        <div class="w3-container w3-third" id=""menu">
             <ul class="w3-striped">
            <li><a href="/QuickDraft">QuickDraft - no account needed</a></li>
            <li><a href="/ComingSoon">Features Coming Soon</a></li>
            <div class="w3-container w3-hide">
                 <p></p>
            <p>To rebuild the database with fresh data, click the links below IN ORDER one at a time. </p>
            <li><a href="/DBRefresh0">1) This Blows Away the DB incase you want to rebuild from scratch and repopulate data</a></li>
            <li><a href="/DBRefresh1">2) This Rebuilds the DB Schema</a></li>
            <li><a href="/DBRefresh2">3) This Repopulates the DB with static data used for mocking</a></li>
            </div>

        </ul>
        </div>
        <div class="w3-container w3-third">

        </div>
        <div id="login" class="w3-container w3-third">
            <h2>Custom Draft - (FREE Account Required)</h2>
            <form action = "/Login" method = "post">
         <fieldset>
            <legend>Login</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.email.label }}<br>
               {{ form.email }}
                <br/>
               {{ form.Password.label }}<br>
               {{ form.Password }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
            <h3>OR:</h3>
            <h4>
            <a href="/NewAccount">Create New Account (FREE)</a>
            </h4>
        </div>
    </div>
    <div id="menu" class="w3-container">

    </div>
</div>
</body>
</html>