<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="NFL Mock Draft, Emulater, Engine, Game, Mock Draft Site" />
    <meta name="description" content="This site emulates the NFL Draft using a sophisticated engine that predicts each pick in the draft. You can Make Picks for you own team or let the engine run the entire draft for you." />
    <meta name="robots" content="index,follow" />
    <title>UMockMe.com - NFL Mock Draft Site</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-container w3-teal ">
    <h1>Welcome to UMockMe.com......{%if usr%}{{usr[0][1]}}{%endif%}</h1>
</header>
<div>
    <div class="w3-row">
        <div class="w3-container w3-twothird">&nbsp</div>
        <div id="login" class="w3-container w3-third">
            Login:<br/>
            <form action = "/Login" method = "post">
         <fieldset>
            <legend>Login</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.email.label }}<br>
               {{ form.email }}
                <br/>
               {{ form.Password.label }}<br>
               {{ form.Password }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
            <br/>
            Or:<br/>
            <a href="/NewAccount">Create New Account (FREE)</a>
        </div>
    </div>
    <div id="menu" class="w3-container">
        <ul class="w3-striped">
            <li><a href="/QuickDraft">QuickDraft Proceed as a Guest. No Account Needed.</a></li>
            <!--
            <li><a href="/CustomDraft">Custom Draft</a></li>
            <li><a href="/EditProspects">Edit Prospect Data</a></li>
            <li><a href="/EditTeams">Edit Team Needs</a></li>
            -->
            <li><a href="/ComingSoon">Features Coming Soon To UMockMe.com</a></li>
            <p></p>
            <p>To rebuild the database with fresh data, click the links below IN ORDER one at a time. </p>
            <li><a href="/DBRefresh0">1) This Blows Away the DB incase you want to rebuild from scratch and repopulate data</a></li>
            <li><a href="/DBRefresh1">2) This Rebuilds the DB Schema</a></li>
            <li><a href="/DBRefresh2">3) This Repopulates the DB with static data used for mocking</a></li>
        </ul>
    </div>
</div>
</body>
</html>