<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="NFL Mock Draft, Emulator, Engine, Game, Mock Draft Site" />
    <meta name="description" content="This site emulates the NFL Draft using a sophisticated engine that predicts each pick in the draft. You can Make Picks for you own team or let the engine run the entire draft for you." />
    <meta name="robots" content="index,follow" />
    <title>UMockMe.com - NFL Mock Draft Site New Account</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div>
     <header class="w3-container w3-teal ">
        <h1>UMockMe.com Create New Account</h1>
    </header>
    <div class="w3-row">
        <h3><a href="{{url_for('index',usr=usr)}}">Home</a></h3>
        <br/>
        <div class="w3-container w3-third">
            <ul class="w3-striped">
            <li><a href="{{url_for('QuickDraft',usr=usr)}}">QuickDraft - no account needed</a></li>
            <li><a href="/ComingSoon">Features Coming Soon</a></li>
            {%if usr%}
                 <li><a href="/EditProspects">Edit Draft Prospect Data</a></li>
                <li><a href="/EditTeams">Edit NFL Team Draft Needs and Preferences</a></li>
                <li><a href="{{url_for('CustomDraft',usr=usr)}}">Custom Draft</a></li>
            {%endif%}
            </ul>
        </div>
        <div class="w3-container w3-twothird" id=""newAccount">

      {% for message in form.errors %}
         <div>{{ message }}</div>
      {% endfor %}
        <form action = "/NewAccount" method = "post">
         <fieldset>
            <legend>New Account</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.email.label }}<br>
               {{ form.email }}
               <br>
               {{ form.Fname.label }}<br>
               {{ form.Fname }}
               <br>
                {{ form.Lname.label }}<br>
               {{ form.Lname }}
               <br/>

               {{ form.userName.label }}<br>
               {{ form.userName }}
               <br>

               {{ form.Password.label }}<br>
               {{ form.Password }}
                <br/>
                {{ form.FavoriteTeam.label }}<br>
               {{ form.FavoriteTeam }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
</div>
</body>
</html>